<div class="col-md-3 card comments">
  <p>{{comment}} by user {{user_id}} {{format_date date_created}}</p>
  <i class="removeComment btn-floating btn-small waves-effect waves-light btnColor"
    data-comment-id="{{id}}">-</i>
</div>