<div class="card comments">
  <label class="card-header">User {{user_id}} on {{format_date date_created}}</label>
  <div class="comment-date">
    <p>{{comment}} </p>
    <i class="removeComment bx bx-trash" data-comment-id="{{id}}"></i>
  </div>
</div>