<div class="entries-page-container row">
  <div class="">
      <div class="entry-container col s8">
        {{#each entries as |entry|}}
        {{> entry-details}}
        <p>Comments for {{name}}:</p>
        <div class="comments-container card">
          <form class="form new-comment-form">
              <label for="comment-text" id="commentLabel">Comment:</label>
              <textarea
                class="form-input"
                id="comment-text"
                name="comment-text"
              ></textarea>
              <button
                type="submit"
                class="addComment btn-floating btn-small waves-effect waves-light btnColor"
                data-entry-id="{{id}}"
              >+</button>
          </form>
          {{#each entry.comments as |comment|}}
          {{> comment-details }}
          {{/each}}
        </div>
        <hr/>
        {{/each}}
      </div>
    
    <div class="col s4">
      <div class="card addEntryCard">
        <h3>Add New Entry:</h3>
        <a href="/entry" class="btn-floating btn-large waves-effect waves-light btnColor"><i
            class="material-icons">+</i></a>
      </div>
      <div class="card addEntryCard">
        <h3>View Personal Entries</h3>
        <a href="/userentries" class="btn-floating btn-large waves-effect waves-light btnColor"><i
            class="material-icons">+</i></a>
      </div>
    </div>
  </div>
</div>

<script src="/js/comment.js"></script>
<script src="/js/deleteEntries.js"></script>