<div class="row home-content">
  <div class="articles-container">
    <div class="col s4">
      <div class="card article" id="f0">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank">Read Full Article</a>
      </div>
      <div class="divider"></div>
      <div class="card article" id="f1">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank"></a>
      </div>
      <div class="divider"></div>
      <div class="card article" id="f2">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank"></a>
      </div>
      <div class="divider"></div>
      <div class="card article" id="f3">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank"></a>
      </div>
      <div class="divider"></div>
      <div class="card article" id="f4">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank"></a>
      </div>
      <div class="divider"></div>
    </div>

    <div class="col s4">
      <div class="card article" id="f5">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank"></a>
      </div>
      <div class="divider"></div>
      <div class="card article" id="f6">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank"></a>
      </div>
      <div class="divider"></div>
      <div class="card article" id="f7">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank"></a>
      </div>
      <div class="divider"></div>
      <div class="card article" id="f8">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank"></a>
      </div>
      <div class="divider"></div>
      <div class="card article" id="f9">
        {{! <h5 id="author" class="articleAuthor"></h5> }}
        <h5 id="title" class="articleTitle"></h5>
        <p id="publishDate"></p>
        <img id="articleImage" class="articleImage" />
        <p id="content"></p>
        <a id="articleUrl" target="_blank"></a>
      </div>
      <div class="divider"></div>
    </div>
  </div>

  <div class="info-container col s4">
    <div class="weatherforcastbox card">
      <p id="currentCity"></p>
      <p id="currentWeather"></p>
      <img id="weatherIcon" />
      <span style="font-style: italic;"></span>
    </div>
    {{! both links redirect to add entry page if the user was logged in, and if they were logged out it took them to the
  login page, this is redundant so I made one to display when they are either logged in or out }}
    {{#if logged_in}}
      <div class="entry-container">
        {{#each entries as |entry|}}
        {{> entry-details}}
        <p>Comments for {{name}}:</p>
        <div class="comments-container card">
          <form class="form new-comment-form">
              <label for="comment-text" id="commentLabel">Comment:</label>
              <textarea
                class="form-input"
                id="comment-text"
                name="comment-text"
              ></textarea>
              <button
                type="submit"
                class="addComment btn-floating btn-small waves-effect waves-light btnColor"
                data-entry-id="{{id}}"
              >+</button>
          </form>
          {{#each entry.comments as |comment|}}
          {{> comment-details }}
          {{/each}}
        </div>
        <hr/>
        {{/each}}
      </div>
    {{else}}
      <div class="card" id="homepage-join">
        <h3 class="infoHeader">Join the Post!</h3>
        <div>
          <ul>
            <li>
              <p class="pageInfo">Share thoughts or ideas!</p>
              <i class="material-icons">note_add</i>
            </li>
            <li>
              <p class="pageInfo">Keep up with daily top news articles</p>
              <i class="material-icons">language</i>
            </li>
            <li>
              <p class="pageInfo">Comment and offer encouraging words on other
                entries</p>
              <i class="material-icons">mode_comment</i>
            </li>
          </ul>
        </div>
        {{! changed the href to signup when they click get started }}
        <a href="/signup" class="btn btnColor" id="get-started-btn">Get Started</a>
      </div>
      {{#each entries as |entry|}}
        {{> entry-details}}
      {{/each}}
    {{/if}}
  </div>
</div>

<script src="/js/comment.js"></script>