<div class="leftcolumn">
  <div class="card column" id="f0">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
  <div class="card column" id="f1">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
  <div class="card column" id="f2">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
  <div class="card column" id="f3">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
  <div class="card column" id="f4">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
  <div class="card column" id="f5">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
  <div class="card column" id="f6">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
  <div class="card column" id="f7">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
  <div class="card column" id="f8">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
  <div class="card column" id="f9">
    <h2 id="title" class="articleTitle"></h2>
    <img id="articleImage" class="articleImage" />
    <h2 id="author" class="articleAuthor"></h2>
    <p id="publishDate"></p>
    <p id="content"></p>
    <a id="articleUrl" target="_blank"></a>
  </div>
</div>

<div class="rightcolumn">
  <div class="weatherforcastbox">
    <h4 id="currentCity"></h4>
    <p id="currentWeather"></p>
    <img id="weatherIcon" />
    <span style="font-style: italic;"> </span>
  </div>
  {{! both links redirect to add entry page if the user was logged in, and if they were logged out it took them to the
  login page, this is redundant so I made one to display when they are either logged in or out }}
  {{#if logged_in}}
  <div class="card addEntryBox">
    <h3>Add New Entry</h3>
    <a href="/entry" class="btn-floating btn-large waves-effect waves-light btnColor"><i
        class="material-icons">+</i></a>
  </div>
  {{else}}
  <div class="card" id="homepage-join">
    <h3 class="infoHeader">Join the Post!</h3>
    <i class="material-icons">note_add</i>
    <p class="pageInfo">Share thoughts or ideas</p>
    <i class="material-icons">language</i>
    <p class="pageInfo">Keep up with daily top news articles</p>
    <i class="material-icons">mode_comment</i>
    <p class="pageInfo">Comment on other user's entries</p>
    {{! changed the href to signup when they click get started }}
    <a href="/signup" class="btn btnColor" id="get-started-btn">Get Started</a>
  </div>
  {{/if}}
</div>