<div id="sign-up-container" class="row">
  <h2>Sign-Up</h2>
  <form class="col s12 signup-form">
    <div id="signup" class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" />
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" />
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <input id="password" type="password" class="validate" />
      <label for="password">Password</label>
    </div>

    <button class="btn signupbtn black" type="submit">Sign Up</button>
  </form>
</div>

<script src="/js/signup.js"></script>