<div class="body-blog">
  <div class="row">
    <div class="column">
      <div class="card entryCard">
        <div class="addentry-header">
          <h2>Add an Entry</h2>
        </div>
        <div class="row">
          <form class="col s12" enctype="multipart/form-data"
                method="POST"
                action="/api/entry">
            <div class="submit-entry">
              <div class="row">
                <div class="input-field col s12">
                  <input
                    class="new-entry-title"
                    id="input_text"
                    type="text"
                    data-length="10"
                    name="name"
                  />
                  <label for="input_text">Enter Entry Title</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea
                    id="textarea2"
                    class="materialize-textarea new-entry-text"
                    data-length="250"
                    name="text"
                  ></textarea>
                  <label for="textarea2">Enter Entry text</label>
                </div>
              </div>
              <br />
              <div class="row">
               <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" name="photo" />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" />
                  </div>
              </div>
              <button
                type="submit"
                class="waves-effect waves-light btn btnColor"
                id="entry-btn"
              >Submit Entry</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{#each entries as |entry|}}
{{> userEntries-details}}
<div class="col-md-3 card comments">
<p>Comments for {{name}}</p>
<form class="form new-comment-form">
            <div class="form-group comment-form">
              <label for="comment-text" id="commentLabel">Comment:</label>
              <textarea
                class="form-input"
                id="comment-text"
                name="comment-text"
              ></textarea>
              <button
                type="submit"
                class="addComment btn-floating btn-small waves-effect waves-light btnColor"
                data-entry-id="{{id}}"
              >+</button>
            </div>
          </form>
{{#each entry.comments as |comment|}}
{{> userEntriesComment-details}}
{{/each}}
</div>

{{/each}}

</div>

<script src="/js/comment.js"></script>
<script src="/js/deleteEntries.js"></script>
<script src="/js/entries.js"></script>