<div class="card leftcolumn">
  <div class="addGoal-header">
    <h2>Add a Goal</h2>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="submit-goal">
        <div class="row">
          <div class="input-field col s12">
            <label for="goal-input">Enter Goal</label>
            <input class="new-goal-title" id="goal-text" type="text" data-length="10">
          </div>
          <button type="submit" class="btn-floating btn-small waves-effect waves-light btnColor" id="goal-btn">+</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="rightcolumn">
  <div class="card">
    <h2>Active Goals:</h2>
    {{#each goals as |goal|}}
    <p>{{goal.goal}}</p>
    <button class="btn-floating btn-small waves-effect waves-light btnColor deleteGoal" data-deleteGoal-id="{{id}}">-</button>
    <hr>
    {{/each}}
  </div>
</div>

<script src="/js/wellness.js"></script>
