body {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    color: #2f2f2f;
    background-color: #f7f7f7;
}

/* applies to all a tags */
a {
    color: black;
    text-decoration: none;
}
/* applies to all imgs */
img {
    max-width: 85%;
    filter: grayscale(60%);
}
/* applies to all materialize icons */
.material-icons {
    cursor: pointer;
}
/* applies to all btns */
.btn {
    background-color: #5d5c5c;
}
.btn:hover {
    background-color: #8a8a8a;
}

header {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}
.todaysDate {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 1% 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1px solid #2f2f2f;
    border-top: 1px solid #2f2f2f;
    background-color: #c9c9c9be;
    height: 35px;
}

/* container holding the home page contents */
.home-content {
    margin: 2%;
}

/* news article on homepage */
.article {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.article h5 {
    text-align: center;
    margin: 0%;
}
.article:nth-child(1) {
    text-align: center;
}


.weatherforcastbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-size: 14px;
    padding: 1%;
}
.weatherforcastbox p {
    margin: 0%;
}
.weatherforcastbox img {
    margin: 0%;
    padding: 0%;
}

/* entries page container*/
.entries-page-container {
    margin: 2%;
}
.entry {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.759)
}
.entry h5 {
    text-transform: uppercase;
    text-align: center;
    margin: 0%;
}
.entry p {
    text-align: center;
    margin: 0%;
}
.comments-container {
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.759)
}
.new-comment-form {
    padding: 1% 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.new-comment-form textarea {
    width: 90%;
}
.comments {
    padding: 0 1%;
    margin: 2%;
}
.comments p {
    margin: 0;
}
.comment-date {
    display: flex;
    padding: 1 1%;
    justify-content: space-between;
    align-items: center;
}
.removeComment {
    font-size: 20px;
    cursor: pointer;
}

.active-goals h4 {
    text-align: center;
    padding: 1%;
}
.goal-container {
    padding: 2%;
}
.goal-container h4 {
    margin: 0;
    font-size: 20px;
}
.goal {
    padding: 0 5%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goal p {
    width: 75%;
}
.goal:nth-child(even) {
    background-color: #f2f2f2;
}
.goal-btn {
    font-size: 10px;
    padding: 0 5px;
}

.entry-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}
.entry-action h5 {
    font-size: 20px;
    margin: 1% 0;
}
.entry-container h5 {
    text-align: center;
}

#homepage-join {
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#homepage-join i {
    font-size: 60px;
}
#homepage-join h3{
    margin: 0%;
}

.login-sign-container {
    margin: 5% 20%;
    text-align: center;
}
.input-field {
    margin: 5% 20%;
}